*, *::before, *::after {
  -webkit-box-sizing: border-box; /* Нужно для мобильного WebKit */
  -moz-box-sizing: border-box; /* Нужно для Firefox */
  box-sizing: border-box;
}

#warning-container {
	transition: 0.5s;
	z-index: 10000000000000000000000000000000;
	width: 100%;
	height: 0;
}

/* Общий контейнер */

body {
	line-height: 1;
	max-width: 1640px;
	margin-left: auto;
	margin-right: auto;
	padding: 0 1em;
	background: #FFFFFF;
	color: #151515;
	font: 16px/1.5 Helvetica,Arial,sans-serif;
	font-family: Verdana;
}
body::before {
	content: '';
	display: block;
}

/* Глобальные свойства */

div {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

ul {
	list-style: none;
}

li {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
}

a {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	color: #C4C4C4;
	text-decoration: none;
}
a:hover {
	color: black;
}
a:activate {
	color: black;
}

button {
	color: #C0C0C0;
	background: #FFFFFF;
	border-color: #C0C0C0;
	padding: 0.5em 1em;
	margin: 0.5em;
	border-style: none;
	font-size: 1.2em;
	font-weight: 580;
	border-radius: 0.4em;
}
button:hover {
	color: #151515;
	text-decoration: underline;
}
button:active {
	color: #151515;
	text-decoration: underline;
}

input::-webkit-input-placeholder {
	color: #151515; 
	font-style: italic; 
	background: #FFFFFF;
}
input::-moz-placeholder {
	color: #151515; 
	font-style: italic; 
	background: #FFFFFF;
}
input::-ms-input-placeholder {
	color: #151515; 
	font-style: italic; 
	background: #FFFFFF;
}

/* Шапка / Header */

.header {
	padding-top: 3em;
	padding-bottom: 4em;
}
.header::before {
	content: '';
	display: block;
}

.header_logo {
	width: 35%;
	margin-left: 0px;
	float: left;
	margin-right: -100%;
	letter-spacing: -2px;
	font-weight: 700;
	font-size: 1.5em;
}

.header_logo-skillogram {
	padding-left: 2em;
	line-height: 3em;
	transition: color .3s;
}
.header_logo-skillogram::before {
	content: "\f083";
	font-size: 2em;
	font-family: FontAwesome;
	color: #aaaaaa;
	margin-right: 0.2em;
}

.sort_rate {
	width: 25%;
	margin-left: 35%;
	/*padding-top: 8px;*/
	float: left;
	margin-right: -100%;
	display: webkit-box;
	display: ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-box-pack: justify;
	justify-content: space-between;
	/*font-size: 20px;*/
	/*color: #C4C4C4;*/
}
.sort_rate li {
	display: inline;
}

.search {
	width: 20%;
	margin-left: 60%;
	height: 2em;
	/*padding-top: 11px;*/
	float: left;
	display: webkit-box;
	display: ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-box-pack: justify;
	justify-content: space-between;
	margin-right: -100%;
	/*padding-left: 1.8em;*/
	position: relative;
}
#search_form {
	width: 100%;
	height: 2em;
}
.header_search_form {
	width: 100%;
	height: 2em;
	/*border-radius: 6px;*/
	/*border-style: none;*/
	outline: none;
	padding: 0;	
	/*margin: 0 auto;*/
}
.header_search_form-field {
	position: absolute;
	right: 0;
	bottom: 0;
	color: #FFFFFF;
	background: #C0C0C0;
	width: 80%;
	height: 2em;
	margin: 0;
	margin-left: 20%;
	border-radius: 0.4em;
	border-style: none;
}
.header_search_form-butt {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 2em;
	height: 2em;
	outline: none;
	/*
	text-decoration: none;
	vertical-align: middle;
	width: 1.2em;
	*/
}
.header_search_form-butt::before {
	content: "\f002";
	font-family: FontAwesome;
	font-size: 16px;
	color: #151515;
	margin-right: 0.1em;
}
.header_search_form-butt:hover {
	background: #7BA7AB;
}

.auth_user {
	width: 20%;
	margin-left: 80%;
	float: left;
	display: webkit-box;
	display: ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-box-pack: justify;
	justify-content: space-between;
	margin-right: -100%;
}
.auth_user li {
	display: inline;
}

.auth_user-butt_reg {
	color: #FFFFFF;
	background: #98CE1E;
}

/* Тело / Body */

.tags_sort {
	width: 100%;
	/*
	display: webkit-box;
	display: ms-flexbox;
	display: flex;
	flex-direction: column;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-box-pack: justify;
	justify-content: space-between;
	*/
}
.tags_sort li {
	display: inline;
}
.tags_sort button {
	min-width: 5em;
	border-style: solid;
}
.tags_sort button:hover {
	text-decoration: none;
}
.tags_sort button:active {
	text-decoration: none;
}

.layout {
	width: 100%;
	text-align: justify;
	padding: 1% 1% 0 1%;
}
.layout::before {
	display: block;
	content: '';
}

.layout_title {
	margin: -1px;
	padding: 0px;
	width: 1px;
	border: 0px;
	position: absolute;
	clip: rect(0 0 0 0);
	overflow: hidden;
	height: 1px;
}

.post {
	display: inline-block;
	width: 30%;
	padding: 0.5%;
}
.post:nth-last-child(n+5) {
	margin-bottom: 1%;
}
.post::before {
	display: block;
	content: '';
}

.break {
	display: inline-block;
	width: 30%;
	height: 0;
}

.post_header {
	margin-top: -7px;
	font-size: 16px;
	margin-bottom: 5px;
	padding-bottom: 6px;
	line-height: 1.3;
	font-weight: 50; 
}

.post_user_ava {
	color: #151515;
	text-decoration: underline;
	float: left;
	width: 4em;
	height: 4em;
}

.post_user_name {
	color: #151515;
}
.post_user_name::before {
	content: "@";
	font-size: 16px;
	color: #151515;
}

.post_date_link {

}

.post_main {
	margin: 0;
}

.post_img {
	width: 100%;
}

.post_main figcaption {

}

.post_downbar {

}

.post_likes {
	float: left;
}
.post_likes::before {
	content: "\f08a"; /* to \f004 */
	font-family: FontAwesome;
	font-size: 16px;
	color: #151515;
	margin-right: 10px;
}

.post_download {
	float: right;
}
.post_download::before {
	content: "\f019";
	font-family: FontAwesome;
	font-size: 16px;
	color: #151515;
	margin-right: 10px;
}

.post_tags {

}
.post_tags a {
	color: #151515;
}

/* Подвал / Footer*/

.footer {

}

.footer_copy {

}

.footer_link {

}

.adress {
	width: 10 %
}

.footer_link--adress {

}

.footer_mid {
	width: 30%;
	margin-left: 30%;
	/*
	padding-top: 8px;
	float: left;
	margin-right: -100%;
	display: webkit-box;
	display: ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-moz-box-pack: justify;
	-ms-box-pack: justify;
	justify-content: space-between;
	font-size: 20px;
	*/
	color: #C4C4C4;
}

.footer_nav {
	/*
	float: left;
	margin-right: -100%;
	letter-spacing: -2px;
	font-weight: 700;
	font-size: 1.5em;
	*/
}

.subscription {
	/*
	width: 35%;
	padding-left: 65%;
	float: left;
	display: inline;
	*/
}

#sub_form {
	width: 100%;
}

.sub_form-field {
	width: 80%;
}

.sub_form_butt {
	color: #FFFFFF;
	background: #151515;
	float: right;
}

/*

.post_img {
	width: 400px;
	height: 400px;
	border: 1px solid black;
}

span {
	display: inline-block;
}

#tags_search {
	padding: 10px;
	margin: 10px;
	display: flex;
	align-content: flex-start;
	flex-direction: row;
}
*/


/*
a {
    background-color: #C4C4C4;
    color: blue;
    text-decoration: none;
}
a:hover {
    color: pink;
    text-decoration: underline;
}

.photo {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    float: left;
    margin-right: 10px;
}
.clear {
    clear: both;
}

	height: 80px;
	padding: 10px;
	display: flex;
	flex-direction: row;
*/